#education-all_states {
    border:0px solid black;
    width: 664px;
    height: 485px;
    margin-top: 5px;
    border-radius: 15px;
    display: inline-block;
    position: absolute;
    overflow-y: scroll;
}

#education_all_states_selection_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(249, 250, 252);
}


#education_all_states_metric_dropdown{
    padding:5px 5px 5px 5px;
    font-weight: bold;
    display: inline-block;
    width:350px;
    flex:none
}
#education_all_states_residence_type_dropdown{
    padding:5px 5px 5px 5px;
    font-weight: bold;
    display: inline-block;
    width:350px;
}
#education_all_states_gender_dropdown{
    padding:5px 5px 5px 5px;
    font-weight: bold;
    display: inline-block;
    width:350px;
}



#education-all_states-graph_div{
    height:1000px;
}


#state_all_selection_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(249, 250, 252);
    border-radius: 15px;
}

#state_dropdown_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(249, 250, 252);
    border-radius: 15px;
}

#education_vs{
    margin-top: 11px;
    font-weight: bold;
}
#education_state_wise_state_dropdown{

    padding: 5px 5px 5px 5px;
    width: 350px;
    display: inline-block;
    font-weight: bold;
}
#education_state_wise_state_dropdown_1{

    padding: 5px 5px 5px 5px;
    width: 350px;
    display: inline-block;
    font-weight: bold
}

#state_selection_div_down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(249, 250, 252);
    border-radius: 15px;
}
#education_state_wise_metric_dropdown{
    padding: 5px 5px 5px 5px;
    display: inline-block;
    font-weight: bold;
    width:350px;
    flex:none
}
#education_state_residence_type_dropdown{
    padding: 5px 5px 5px 5px;
    display: inline-block;
    font-weight: bold;
    width:350px
}
#education_state_gender_dropdown{
    padding: 5px 5px 5px 5px;
    display: inline-block;
    font-weight: bold;
    width:350px
}


#education_state_wise_metrics_graph_div_bottom{
    display: block;
}


#education_state_wise_metrics {
    border:0px solid black;
    width: 664px;
    height: 485px;
    margin-top: 5px;
    border-radius: 15px;
    display: inline-block;
    position: absolute;
    margin-left: 680px;

}

/* Education Teachers*/

#education_teachers_all_states_metric_dropdown{
    padding:5px 5px 5px 5px;
    font-weight: bold;
    display: inline-block;
    width:648px;
    flex:none

}

.card_average{
    width:150px;
    height:109px;
    border:0px solid black;
    border-radius: 8px;
    margin-right: 3px;
    background-color: rgb(162, 187, 241);
}
.card_gender{
    width:246px;
    height:50px;
    border:0px solid black;
    border-radius:8px;
    margin:0px;
    background-color: rgb(241, 138, 90);
}
.card_job{
    width:160px;
    height:50px;
    border:0px solid black;
    border-radius:8px;
    margin:0px;
    background-color: rgb(170, 250, 138);
}
#education_teacher_gender_pct{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 500px;
    height:50px;
    flex: auto;
}
#education_teacher_jobtype_pct{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    height:50px;
    flex: auto;
}
#education_teacher_avg_pct{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;

}
#education_teacher_summary_card_header_1{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    flex: auto;
}
#education_teacher_summary_card_header_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    flex: none;
    margin: 3px 3px 0px 3px;
}

#card-title-et{
    text-align: center;
    font-weight: bold;
    padding: 0px;
    margin-top:7px;
    margin-bottom:0px;
    font-size: 11px;
}
#card-text-et{
    text-align: center;
    font-weight: bolder;
    padding: 0px;
    margin-top:25px;
    
}
.card-text{
    text-align: center;
    font-weight: bold;
    padding: 0px;
    margin:0px;
    font-size: 11px;
}

#education_teachers-all_states-graph_div{
    height:1000px;
}


#education_teachers_statename{
    width:664px;
    height:50px;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    background-color: rgb(193, 222, 245);
    display: flex;
    border-radius: 25px;
    font-size: 20px;
}

#education_teachers-states-graph_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
    margin-top:10px;
}
#education_teachers_states_gender_graph_hover{
    padding:0px;
    width:331px;
}
#education_teachers_states_job_graph_hover{
    padding:0px;
    width:331px;

}