::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #a8a4a4;
    border-radius: 8px; 
    margin-top: 5px;
    margin-bottom: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(66, 67, 73);
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(42, 42, 44); 
  }
  
#masterlayout-heading{
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
    background-color:#6b7edb9c;
    border: 0px solid black;
    border-radius: 15px;
    height: 40px;
    color:black
}

#masterlayout-selection-tabs-parent {
    margin-top: 1px;
    border: 0px solid black;
    border-radius: 12px;
    background-color: #cfa02a9c;
}
.masterlayout-selection-tabs-children {
    border-radius: 12px;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 50px;
}

.jsx-3201076643.tab.masterlayout-selection-tabs-children{
    color: black;
    background-color: #cfa02a9c;
}

.masterlayout-selection-tabs-children--selected {
    border-radius: 18px;
    font-family: "system-ui";
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 50px;
}
.jsx-3201076643.tab.masterlayout-selection-tabs-children.tab--selected {
    color: white;
    background-color:#583002;
    border-color: #583002;
}

