#masterlayout-heading{
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
    background-color:#6b7edb9c;
    border: 2px solid black;
    border-radius: 15px;
    height: 40px;
    color:black
}

#masterlayout-selection-tabs-parent {
    margin-top: 1px;
    border: 2px solid black;
    border-radius: 12px;
    background-color: #cfa02a9c;
}
.masterlayout-selection-tabs-children {
    border-radius: 12px;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 50px;
}

.jsx-3201076643.tab.masterlayout-selection-tabs-children{
    color: black;
    background-color: #cfa02a9c;
}

.masterlayout-selection-tabs-children--selected {
    border-radius: 18px;
    font-family: "system-ui";
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 50px;
}
.jsx-3201076643.tab.masterlayout-selection-tabs-children.tab--selected {
    color: white;
    background-color:#583002;
    border-color: #583002;
}

